<!DOCTYPE html>
<html>
    <head>
    {% include '_partials/admin/head.html.twig' %}
    </head>
    <body class="{% block bodyclass %}skin-blue{% endblock %}">

        {% block header %}
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="{{ path(apphomeroute) }}" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                {{ appname }}
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    {# {% include '::_partials/admin/navbar-right.html.twig' %} #}
                </div>
            </nav>
        </header>
        {% endblock %}

        <div class="wrapper row-offcanvas row-offcanvas-left">

            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{{ asset('vendor/almasaeed2010/adminlte/img/avatar3.png') }}" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Hello, Jane</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->

                    {# {% render(controller('NetgustoAdminLTEBundle:LeftMenu:index')) %} #}

                    {{ adminlte_leftmenu_render('NetgustoDemoBundle:Builder:demoMenu') }}

                    {# {% include '::_partials/admin/sidebar.html.twig' %} #}
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">

                {# {% include '::_partials/admin/content-header.html.twig' %} #}

                <!-- Main content -->
                <section class="content">
                    {% block body %}{% endblock %}
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        {% include '_partials/admin/basejavascripts.html.twig' %}
        
        {% block javascripts %}
        <script type="text/javascript">require(['admin/main']);</script>
        {% endblock %}
    </body>
</html>