{% extends 'NetgustoAdminLTEBundle:Page:admin.login.html.twig' %}


{% block body %}

    {% embed 'NetgustoAdminLTEBundle:Login:component.loginform.html.twig' %}

        {% block header %}
        <div class="container text-center">
            <h1>Baïkal admin</h1>
        </div>
        {% endblock %}

        {% block form_submit_label %}Log in{% endblock %}

    {% endembed %}

{% endblock %}