{% extends "NetgustoBaikalFrontendBundle:Layouts:standard.html.twig" %}

{% set pagetitle = "Contacts" %}

{% block content %}

<div class="page-header">
    <h1><i class="fa fa-book"></i> Contacts</small></h1>
</div>

{% endblock %}