{% extends '::app.html.twig' %}

{% block body %}
<h1>Hello, World ! <i class="fa fa-rocket fa-3x"></i></h1>
<p><a href="{{ path('netgusto_adminlte_homepage') }}">Accéder à l'admin</a></p>
{% endblock %}
