{% extends "NetgustoBaikalFrontendBundle:Layouts:standard.html.twig" %}

{% set pagetitle = "Welcome" %}

{% block content %}

<div class="page-header">
    <h1><i class="fa fa-star" style="color: #F24535;"></i> Welcome</small></h1>
</div>

{% endblock %}